<form
  name="search"
  action="<%= getRecordPath() %>"
  method="get"
  class="search-form"
>
  <h2 class="fill-grid-row">Search records</h2>

  <label for="search-genre-id">Genre</label>
  <select name="genreId" id="search-genre-id">
    <% let genreSelected = false; %>
    <option
      value=""
      <% if (rawQuery.genreId === undefined) {
        genreSelected = true;
      %>
        selected
      <% } %>
    >Any</option>
    <% genres.forEach(genre => { %>
      <option
        value="<%= genre.id %>"
        <% if (genre.id == rawQuery.genreId) {
          genreSelected = true;
        %>
          selected
        <% } %>
      ><%= genre.name %></option>
    <% }); %>
    <% if (!genreSelected) { %>
      <option value="<%= rawQuery.genreId %>" selected hidden>
        Genre does not exist
      </option>
    <% } %>
  </select>
  <button
    type="button"
    data-action="clear-field"
    data-target="genreId"
    class="search-clear-button"
  >Clear</button>

  <label for="search-artist-id">Artist</label>
  <select name="artistId" id="search-artist-id">
    <% let artistSelected = false; %>
    <option
      value=""
      <% if (rawQuery.artistId === undefined) {
        artistSelected = true;
      %>
        selected
      <% } %>
    >Any</option>
    <% artists.forEach(artist => { %>
      <option
        value="<%= artist.id %>"
        <% if (artist.id == rawQuery.artistId) {
          artistSelected = true;
        %>
          selected
        <% } %>
      ><%= artist.name %></option>
    <% }); %>
    <% if (!artistSelected) { %>
      <option value="<%= rawQuery.artistId %>" selected hidden>
        Artist does not exist
      </option>
    <% } %>
  </select>
  <button
    type="button"
    data-action="clear-field"
    data-target="artistId"
    class="search-clear-button"
  >Clear</button>

  <label for="search-record-name">Name</label>
  <input
    type="search"
    name="name"
    id="search-record-name"
    value="<%= rawQuery.name %>"
  />
  <button
    type="button"
    data-action="clear-field"
    data-target="name"
    class="search-clear-button"
  >Clear</button>

  <button type="submit" class="search-submit-button">Search records</button>
  <a
    href="<%= getRecordsPath() %>"
    data-action="clear-form"
    class="search-reset-button"
  >Reset</a>
</form>
