<dialog class="modal" aria-labelledby="create-form-heading">
  <form
    name="create"
    action="<%= getRecordPath() %>"
    method="post"
    <% if (locals.createErrors?.length > 0) { %> data-invalid <% } %>
    class="modal-form"
  >
    <h2 id="create-form-heading">New record</h2>

    <%- include('../form-errors', { errors: locals.createErrors }) %>

    <label for="create-artist-id">Artist</label>
    <select name="artistId" id="create-artist-id" required>
      <option
        value=""
        <% if (!locals.createFields?.artistId) { %> selected <% } %>
        disabled
        hidden
      >Select one</option>
      <% artists.forEach(artist => { %>
        <option
          value="<%= artist.id %>"
          <% if (artist.id == locals.createFields?.artistId) { %>
            selected
          <% } %>
        ><%= artist.name %></option>
      <% }); %>
    </select>

    <label for="create-name">Name</label>
    <input
      type="text"
      name="name"
      id="create-name"
      value="<%= locals.createFields?.name %>"
      required
      maxlength="<%= MAX_RECORD_NAME_LENGTH %>"
    />

    <label for="create-price">Price</label>
    <input
      type="number"
      name="price"
      id="create-price"
      <% if (locals.createFields?.price) { %>
        value="<%= centsToDollars(createFields.price) %>"
      <% } %>
      min="0"
      max="<%= MAX_RECORD_PRICE_IN_DOLLARS %>"
      step="0.01"
      required
    />

    <label for="create-quantity">Quantity</label>
    <input
      type="number"
      name="quantity"
      id="create-quantity"
      placeholder="<%= DEFAULT_RECORD_QUANTITY %>"
      value="<%= locals.createFields?.quantity %>"
      min="0"
      max="<%= MAX_RECORD_QUANTITY %>"
    />

    <input type="hidden" name="returnTo" />

    <div class="cancel-confirm-button-row">
      <button
        type="button"
        data-action="cancel-create"
        class="cancel-button"
      >Cancel</button>
      <button type="submit">Create record</button>
    </div>
  </form>
</dialog>
