<dialog data-modal="update" class="modal">
  <form
    name="update"
    method="post"
    <% if (locals.updateErrors?.length > 0) { %> data-invalid <% } %>
    class="modal-form"
  >
    <h2>Edit record</h2>

    <label for="update-artist-id">Artist</label>
    <select name="artistId" id="update-artist-id" required>
      <option
        value=""
        <% if (!locals.updateFields?.artistId) { %> selected <% } %>
        disabled
        hidden
      >Select one</option>
      <% artists.forEach(artist => { %>
        <option
          value="<%= artist.id %>"
          <% if (artist.id == locals.updateFields?.artistId) { %>
            selected
          <% } %>
        ><%= artist.name %></option>
      <% }); %>
    </select>

    <label for="update-name">Name</label>
    <input
      type="text"
      name="name"
      id="update-name"
      <% if (locals.updateFields?.name) { %>
        value="<%= updateFields.name %>"
      <% } %>
      required
    />

    <label for="update-price">Price</label>
    <input
      type="number"
      name="price"
      id="update-price"
      <% if (locals.updateFields?.price) { %>
        value="<%= centsToDollars(updateFields.price) %>"
      <% } %>
      min="0"
      step="0.01"
      required
    />

    <label for="update-quantity">Quantity</label>
    <input
      type="number"
      name="quantity"
      id="update-quantity"
      <% if (locals.updateFields?.quantity) { %>
        value="<%= updateFields.quantity %>"
      <% } %>
      min="0"
    />

    <input type="hidden" name="returnTo" />

    <% if (locals.updateErrors?.length > 0) { %>
      <ul class="errors">
        <% updateErrors.forEach(error => { %> <li><%= error %></li> <% }); %>
      </ul>
    <% } %>

    <div class="cancel-confirm-button-row">
      <button
        type="button"
        data-action="cancel-update"
        class="cancel-button"
      >Cancel</button>
      <button type="submit">Update record</button>
    </div>
  </form>
</dialog>
