<%- include('../partials/layout-start', { resourceType: 'artist' }) %>
<%- include('../partials/header') %>

<aside class="sidebar">
  <button type="button" data-action="start-create" class="create-button">
    + New artist
  </button>
  <%- include('../partials/artists/artists.search-form.ejs') %>
</aside>

<main class="main-content">
  <%- include('../partials/artists/artists.create-modal.ejs') %>
  <%- include('../partials/artists/artists.update-modal.ejs') %>
  <%- include('../partials/artists/artists.delete-modal.ejs') %>
  <%- include('../partials/artists/artists.list.ejs') %>
</main>

<%- include('../partials/layout-end') %>
