<%- include('../partials/layout-start', { resourceType: 'genre' }) %>
<%- include('../partials/header') %>

<aside class="sidebar">
  <button type="button" data-action="start-create" class="create-button">
    + New genre
  </button>
  <%- include('../partials/genres/genres.search-form.ejs') %>
</aside>

<main class="main-content">
  <%- include('../partials/genres/genres.create-modal.ejs') %>
  <%- include('../partials/genres/genres.update-modal.ejs') %>
  <%- include('../partials/genres/genres.delete-modal.ejs') %>
  <%- include('../partials/genres/genres.list.ejs') %>
</main>

<%- include('../partials/layout-end') %>
