<%- include('../partials/layout-start') %>
<%- include('../partials/header') %>

<main>
  <nav>
    <ul>
      <li><a href="<%= getRecordsPath() %>">Records</a></li>
      <li><a href="<%= getArtistsPath() %>">Artists</a></li>
      <li><a href="<%= getGenresPath() %>">Genres</a></li>
    </ul>
  </nav>
</main>

<%- include('../partials/layout-end') %>
