<%- include('../partials/layout-start', { resourceType: 'record' }) %>
<%- include('../partials/header') %>

<aside class="sidebar">
  <button type="button" data-action="start-create" class="create-button">
    + New record
  </button>
  <%- include('../partials/records/records.search-form.ejs') %>
</aside>

<main class="main-content">
  <%- include('../partials/records/records.create-modal.ejs') %>
  <%- include('../partials/records/records.update-modal.ejs') %>
  <%- include('../partials/records/records.delete-modal.ejs') %>
  <%- include('../partials/records/records.list.ejs') %>
</main>

<%- include('../partials/layout-end') %>
