<% if (genres.length > 0) { %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="genre-name">Genre</th>
        <th scope="col" class="genre-artists">Artists</th>
        <th scope="col" aria-label="Actions"></th>
      </tr>
    </thead>
    <tbody>
      <% genres.forEach(genre => { %>
        <tr>
          <th
            scope="row"
            class="genre-name"
            title="<%= genre.name %>"
          ><%= genre.name %></th>
          <td class="genre-artists">
            <ul class="genre-artists-list">
              <% genre.artists.forEach(artist => { %>
                <li title="<%= artist.name %>"><%= artist.name %></li>
              <% }); %>
            </ul>
          </td>
          <td>
            <div class="action-buttons">
              <button
                type="button"
                data-action="start-update"
                data-resource-id="<%= genre.id %>"
                data-resource-name="<%= genre.name %>"
                class="update-button"
              >Edit</button>
              <button
                data-action="start-delete"
                data-resource-id="<%= genre.id %>"
                data-resource-name="<%= genre.name %>"
                class="delete-button"
              >Delete</button>
            </div>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <p>No genres found</p>
<% } %>
