<%- include('../partials/layout-start') %>

<header>
  <h1><%= siteName %></h1>
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li><a href="<%= getHomePath() %>">Inventory</a></li>
      <li aria-current="page">Artists</li>
    </ol>
  </nav>
</header>
<main>
  <% if (artists.length > 0) { %>
    <ul>
      <% artists.forEach(artist => { %>
        <li><%= artist.name %></li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No artists found</p>
  <% } %>
</main>

<%- include('../partials/layout-end') %>
