<%- include('../partials/layout-start') %>

<header>
  <h1><%= siteName %></h1>
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li><a href="<%= getHomePath() %>">Inventory</a></li>
      <li><a href="<%= getArtistsPath() %>">Artists</a></li>
      <li aria-current="page"><%= artist.name %></li>
    </ol>
  </nav>
</header>
<main>
  <button
    type="button"
    data-action="start-new-entry"
    class="new-record-button"
  >+ New record for <%= artist.name %></button>
  <dialog data-modal="new-entry" class="modal">
    <form
      action="<%= getRecordPath() %>"
      method="post"
      data-action="create"
      class="vertical-form"
    >
      <h2>New record</h2>
      <input type="hidden" name="artistId" value="<%= artist.id %>" />
      <label for="new-entry-artist-name">Artist</label>
      <input
        type="text"
        id="new-entry-artist-name"
        value="<%= artist.name %>"
        disabled
      />
      <label for="new-entry-name">Name</label>
      <input type="text" name="name" id="new-entry-name" />
      <label for="new-entry-price">Price</label>
      <input type="number" name="price" id="new-entry-price" />
      <label for="new-entry-quantity">Quantity</label>
      <input type="number" name="quantity" id="new-entry-quantity" />
      <input type="hidden" name="returnTo" />
      <button type="submit">Create record</button>
    </form>
  </dialog>
  <% if (records.length > 0) { %>
    <table class="records-table">
      <thead>
        <tr>
          <th scope="col" class="record-name">Record</th>
          <th scope="col" class="record-price">Price</th>
          <th scope="col" class="record-quantity">Quantity</th>
          <th scope="col" class="record-actions" aria-label="Actions"></th>
        </tr>
      </thead>
      <tbody>
        <% records.forEach(record => { %>
          <tr>
            <th scope="row" class="record-name">
              <%= record.name %>
            </th>
            <td class="record-price"><%= formatPrice(record.price) %></td>
            <td class="record-quantity"><%= record.quantity %></td>
            <td class="record-actions">
              <form
                action="<%= getRecordPath(record) %>?_method=DELETE"
                method="post"
                data-action="delete"
                data-resource-name="<%= record.name %>"
              >
                <input type="hidden" name="returnTo" />
                <button type="submit" class="delete-button">Delete</button>
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    No <%= artist.name %> records found
  <% } %>
</main>

<%- include('../partials/layout-end') %>
