<%- include('../partials/layout-start') %>

<header>
  <h1><%= siteName %></h1>
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li><a href="/">Inventory</a></li>
      <li aria-current="page">Artists</li>
    </ol>
  </nav>
</header>
<main>
  <ul>
    <% artists.forEach(artist => { %>
      <li>
        <a href="/artists/<%= artist.id %>">
          <%= artist.name %>
        </a>
      </li>
    <% }); %>
  </ul>
</main>

<%- include('../partials/layout-end') %>
