<%- include('../partials/layout-start') %>

<header>
  <h1><%= siteName %></h1>
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li><a href="<%= getHomePath() %>">Inventory</a></li>
      <li><a href="<%= getArtistsPath() %>">Artists</a></li>
      <li aria-current="page"><%= artist.name %></li>
    </ol>
  </nav>
</header>
<main>
  <% if (records.length > 0) { %>
    <table class="records-table">
      <thead>
        <tr>
          <th scope="col" class="record-name">Record</th>
          <th scope="col" class="record-price">Price</th>
          <th scope="col" class="record-quantity">Quantity</th>
          <th scope="col" class="record-actions" aria-label="Actions"></th>
        </tr>
      </thead>
      <tbody data-listener="delete">
        <% records.forEach(record => { %>
          <tr>
            <th scope="row" class="record-name">
              <%= record.name %>
            </th>
            <td class="record-price"><%= formatPrice(record.price) %></td>
            <td class="record-quantity"><%= record.quantity %></td>
            <td class="record-actions">
              <form
                action="<%= getRecordPath(record) %>/delete?_method=DELETE"
                method="post"
                data-action="delete"
                data-resource-name="<%= record.name %>"
              >
                <button type="submit" class="delete-button">Delete</button>
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    No <%= artist.name %> records found
  <% } %>
</main>

<%- include('../partials/layout-end') %>
