<%- include('../partials/layout-start') %>

<header>
  <h1><%= siteName %></h1>
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li><a href="/">Inventory</a></li>
      <li><a href="/artists">Artists</a></li>
      <li aria-current="page"><%= artist.name %></li>
    </ol>
  </nav>
</header>
<main>
  <% if (records.length > 0) { %>
    <table class="records-table">
      <thead>
        <tr>
          <th scope="col" class="record-name">Record</th>
        </tr>
      </thead>
      <tbody>
        <% records.forEach(record => { %>
          <tr>
            <th scope="row" class="record-name"><%= record.name %></th>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    No <%= artist.name %> records found
  <% } %>
</main>

<%- include('../partials/layout-end') %>
