<%- include('../partials/layout-start') %>

<header>
  <h1><%= siteName %></h1>
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li><a href="/">Inventory</a></li>
      <li aria-current="page">Genres</li>
    </ol>
  </nav>
</header>
<main>
  <% if (genres.length > 0) { %>
    <ul>
      <% genres.forEach(genre => { %>
        <li>
          <a href="/genres/<%= genre.id %>/<%= getSlug(genre.name) %>">
            <%= genre.name %>
          </a>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    No genres found
  <% } %>
</main>

<%- include('../partials/layout-end') %>
