<%- include('../partials/layout-start') %>

<header>
  <h1><%= siteName %></h1>
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li><a href="<%= getHomePath() %>">Inventory</a></li>
      <li><a href="<%= getGenresPath() %>">Genres</a></li>
      <li aria-current="page"><%= genre.name %></li>
    </ol>
  </nav>
</header>
<main>
  <% if (artists.length > 0) { %>
    <ul>
      <% artists.forEach(artist => { %>
        <li>
          <a href="<%= getArtistPath(artist) %>">
            <%= artist.name %>
          </a>
        </li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No <%= genre.name %> artists found</p>
  <% } %>
</main>

<%- include('../partials/layout-end') %>
