<%- include('../partials/layout-start', { resourceType: 'genre' }) %>

<header>
  <h1><%= siteName %></h1>
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li><a href="<%= getHomePath() %>">Inventory</a></li>
      <li aria-current="page">Genres</li>
    </ol>
  </nav>
</header>

<aside class="sidebar">
  <button type="button" data-action="start-create" class="create-button">
    + New genre
  </button>
  <%- include('../partials/genres/genres.search-form.ejs') %>
</aside>

<main class="main-content">
  <%- include('../partials/genres/genres.create-modal.ejs') %>
  <%- include('../partials/genres/genres.list.ejs') %>
</main>

<%- include('../partials/layout-end') %>
