<%- include('../partials/layout-start') %>

<header>
  <h1><%= siteName %></h1>
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li aria-current="page">Inventory</li>
    </ol>
  </nav>
</header>
<main>
  <nav>
    <ul>
      <li><a href="<%= getGenresPath() %>">Genres</a></li>
      <li><a href="<%= getArtistsPath() %>">Artists</a></li>
      <li><a href="<%= getRecordsPath() %>">Records</a></li>
    </ul>
  </nav>
</main>

<%- include('../partials/layout-end') %>
