<%- include('../partials/layout-start') %>

<header>
  <h1><%= siteName %></h1>
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li><a href="<%= getHomePath() %>">Inventory</a></li>
      <li aria-current="page"><%= pageName %></li>
    </ol>
  </nav>
</header>
<main>
  <p>Error 404: This page doesn't exist.</p>
</main>

<%- include('../partials/layout-end') %>
