<%- include('../partials/layout-start') %>

<header>
  <h1><%= siteName %></h1>
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li><a href="/">Inventory</a></li>
      <li aria-current="page">Records</li>
    </ol>
  </nav>
</header>
<main>
  <button
    type="button"
    data-action="start-new-entry"
    class="new-resource-button"
  >+ New record</button>
  <dialog data-modal="new-entry" class="modal">
    <form
      action="<%= getRecordPath() %>"
      method="post"
      data-action="create"
      <% if (locals.newEntryErrors && newEntryErrors.length > 0) { %>
        data-invalid
      <% } %>
      class="modal-form"
    >
      <h2>New record</h2>
      <label for="new-entry-artist-id">Artist</label>
      <select name="artistId" id="new-entry-artist-id" required>
        <option
          value=""
          <% if (!locals.newEntryFields?.artistId) { %>
            selected
          <% } %>
          disabled
          hidden
        >Select one</option>
        <% artists.forEach(artist => { %>
          <option
            value="<%= artist.id %>"
            <% if (artist.id == locals.newEntryFields?.artistId) { %>
              selected
            <% } %>
          ><%= artist.name %></option>
        <% }); %>
      </select>
      <label for="new-entry-name">Name</label>
      <input
        type="text"
        name="name"
        id="new-entry-name"
        <% if (locals.newEntryFields?.name) { %>
          value="<%= newEntryFields.name %>"
        <% } %>
        required
      />
      <label for="new-entry-price">Price</label>
      <input
        type="number"
        name="price"
        id="new-entry-price"
        <% if (locals.newEntryFields?.price) { %>
          value="<%= centsToDollars(newEntryFields.price) %>"
        <% } %>
        min="0"
        step="0.01"
        required
      />
      <label for="new-entry-quantity">Quantity</label>
      <input
        type="number"
        name="quantity"
        id="new-entry-quantity"
        <% if (locals.newEntryFields?.quantity) { %>
          value="<%= newEntryFields.quantity %>"
        <% } %>
        min="0"
      />
      <input type="hidden" name="returnTo" />
      <div class="space-between">
        <button
          type="button"
          data-action="close-new-entry"
          class="cancel-button"
        >Cancel</button>
        <button type="submit">Create record</button>
      </div>
      <% if (locals.newEntryErrors) { %>
        <ul class="errors">
          <% newEntryErrors.forEach(error => { %>
            <li><%= error.msg %></li>
          <% }); %>
        </ul>
      <% } %>
    </form>
  </dialog>
  <form
    action="<%= getRecordPath() %>"
    method="get"
    data-action="search"
    class="search-form"
  >
    <label for="search-artist-id">Search by artist</label>
    <select name="artistId" id="search-artist-id">
      <% let artistSelected = false; %>
      <option
        value=""
        <% if (rawQuery.artistId === undefined) {
          artistSelected = true;
        %>
          selected
        <% } %>
      >All</option>
      <% artists.forEach(artist => { %>
        <option
          value="<%= artist.id %>"
          <% if (artist.id == rawQuery.artistId) {
            artistSelected = true;
          %>
            selected
          <% } %>
        ><%= artist.name %></option>
      <% }); %>
      <% if (!artistSelected) { %>
        <option value="<%= rawQuery.artistId %>" selected hidden>
          Artist does not exist
        </option>
      <% } %>
    </select>
    <button type="submit">Go</button>
  </form>
  <% if (records.length > 0) { %>
    <table class="records-table">
      <thead>
        <tr class="table-header-row">
          <th scope="col" class="record-name">Record</th>
          <th scope="col" class="record-artist">Artist</th>
          <th scope="col" class="record-price">Price</th>
          <th scope="col" class="record-quantity">Quantity</th>
          <th scope="col" class="record-actions" aria-label="Actions"></th>
        </tr>
      </thead>
      <tbody>
        <% records.forEach(record => { %>
          <tr>
            <th scope="row" class="record-name"><%= record.name %></th>
            <td class="record-artist">
              <a href="<%= getArtistPath(record.artist) %>">
                <%= record.artist.name %>
              </a>
            </td>
            <td class="record-price"><%= formatPrice(record.price) %></td>
            <td class="record-quantity"><%= record.quantity %></td>
            <td class="record-actions">
              <form
                action="<%= getRecordPath(record) %>?_method=DELETE"
                method="post"
                data-action="delete"
                data-resource-name="<%= record.name %>"
              >
                <input type="hidden" name="returnTo" />
                <button type="submit" class="delete-button">Delete</button>
              </form>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <p>No records found</p>
  <% } %>
</main>

<%- include('../partials/layout-end') %>
