<%- include('../partials/layout-start') %>

<header>
  <h1><%= siteName %></h1>
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li><a href="/">Inventory</a></li>
      <li aria-current="page">Records</li>
    </ol>
  </nav>
</header>
<main>
  <%- include('../partials/records/create') %>
  <%- include('../partials/records/update') %>
  <%- include('../partials/records/delete') %>
  <%- include('../partials/records/search') %>

  <% if (records.length > 0) { %>
    <%- include('../partials/records/list') %>
  <% } else { %>
    <p>No records found</p>
  <% } %>
</main>

<%- include('../partials/layout-end') %>
