<%- include('../partials/layout-start') %>

<header>
  <h1><%= siteName %></h1>
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li><a href="/">Inventory</a></li>
      <li aria-current="page">Records</li>
    </ol>
  </nav>
</header>
<main>
  <%- include('../partials/records/records.create-modal.ejs') %>
  <%- include('../partials/records/records.update-modal.ejs') %>
  <%- include('../partials/records/records.delete-modal.ejs') %>
  <%- include('../partials/records/records.search-form.ejs') %>
  <%- include('../partials/records/records.list.ejs') %>
</main>

<%- include('../partials/layout-end') %>
