<%- include('../partials/layout-start') %>

<header>
  <h1><%= siteName %></h1>
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li><a href="/">Inventory</a></li>
      <li aria-current="page">Records</li>
    </ol>
  </nav>
</header>
<main>
  <button
    type="button"
    data-action="start-create"
    class="create-button"
  >+ New record</button>
  <dialog data-modal="create" class="modal">
    <form
      name="create"
      action="<%= getRecordPath() %>"
      method="post"
      <% if (locals.createErrors?.length > 0) { %> data-invalid <% } %>
      class="modal-form"
    >
      <h2>New record</h2>
      <label for="create-artist-id">Artist</label>
      <select name="artistId" id="create-artist-id" required>
        <option
          value=""
          <% if (!locals.createFields?.artistId) { %> selected <% } %>
          disabled
          hidden
        >Select one</option>
        <% artists.forEach(artist => { %>
          <option
            value="<%= artist.id %>"
            <% if (artist.id == locals.createFields?.artistId) { %>
              selected
            <% } %>
          ><%= artist.name %></option>
        <% }); %>
      </select>
      <label for="create-name">Name</label>
      <input
        type="text"
        name="name"
        id="create-name"
        <% if (locals.createFields?.name) { %>
          value="<%= createFields.name %>"
        <% } %>
        required
      />
      <label for="create-price">Price</label>
      <input
        type="number"
        name="price"
        id="create-price"
        <% if (locals.createFields?.price) { %>
          value="<%= centsToDollars(createFields.price) %>"
        <% } %>
        min="0"
        step="0.01"
        required
      />
      <label for="create-quantity">Quantity</label>
      <input
        type="number"
        name="quantity"
        id="create-quantity"
        <% if (locals.createFields?.quantity) { %>
          value="<%= createFields.quantity %>"
        <% } %>
        min="0"
      />
      <input type="hidden" name="returnTo" />
      <div class="space-between">
        <button
          type="button"
          data-action="cancel-create"
          class="cancel-button"
        >Cancel</button>
        <button type="submit">Create record</button>
      </div>
      <% if (locals.createErrors?.length > 0) { %>
        <ul class="errors">
          <% createErrors.forEach(error => { %> <li><%= error %></li> <% }); %>
        </ul>
      <% } %>
    </form>
  </dialog>
  <dialog data-modal="update" class="modal">
    <form
      name="update"
      method="post"
      <% if (locals.updateErrors?.length > 0) { %> data-invalid <% } %>
      class="modal-form"
    >
      <h2>Edit record</h2>
      <input type="hidden" name="recordId" />
      <label for="update-artist-id">Artist</label>
      <select name="artistId" id="update-artist-id" required>
        <option
          value=""
          <% if (!locals.updateFields?.artistId) { %>
            selected
          <% } %>
          disabled
          hidden
        >Select one</option>
        <% artists.forEach(artist => { %>
          <option
            value="<%= artist.id %>"
            <% if (artist.id == locals.updateFields?.artistId) { %>
              selected
            <% } %>
          ><%= artist.name %></option>
        <% }); %>
      </select>
      <label for="update-name">Name</label>
      <input
        type="text"
        name="name"
        id="update-name"
        <% if (locals.updateFields?.name) { %>
          value="<%= updateFields.name %>"
        <% } %>
        required
      />
      <label for="update-price">Price</label>
      <input
        type="number"
        name="price"
        id="update-price"
        <% if (locals.updateFields?.price) { %>
          value="<%= centsToDollars(updateFields.price) %>"
        <% } %>
        min="0"
        step="0.01"
        required
      />
      <label for="update-quantity">Quantity</label>
      <input
        type="number"
        name="quantity"
        id="update-quantity"
        <% if (locals.updateFields?.quantity) { %>
          value="<%= updateFields.quantity %>"
        <% } %>
        min="0"
      />
      <input type="hidden" name="returnTo" />
      <div class="space-between">
        <button
          type="button"
          data-action="cancel-update"
          class="cancel-button"
        >Cancel</button>
        <button type="submit">Update record</button>
      </div>
      <% if (locals.updateErrors?.length > 0) { %>
        <ul class="errors">
          <% updateErrors.forEach(error => { %> <li><%= error %></li> <% }); %>
        </ul>
      <% } %>
    </form>
  </dialog>
  <dialog data-modal="delete" class="modal">
    <form
      name="delete"
      method="post"
      <% if (locals.deleteErrors?.length > 0) { %> data-invalid <% } %>
      class="modal-form"
    >
      <h2>Delete record</h2>
      <% if (locals.deleteErrors?.length > 0) { %>
        <p>Could not delete <span data-role="record-name">record</span>.</p>
      <% } else { %>
        <p>Delete <span data-role="record-name"></span>?</p>
      <% } %>
      <input type="hidden" name="returnTo" />
      <% if (locals.deleteErrors?.length > 0) { %>
        <ul class="errors">
          <% deleteErrors.forEach(error => { %> <li><%= error %></li> <% }); %>
        </ul>
      <% } %>
      <div class="space-between">
        <button
          type="button"
          data-action="cancel-delete"
          class="cancel-button"
        >Cancel</button>
        <button type="submit" class="delete-submit-button">
          Delete record
        </button>
      </div>
    </form>
  </dialog>
  <form
    name="search"
    action="<%= getRecordPath() %>"
    method="get"
    class="search-form"
  >
    <label for="search-genre-id">Search by genre</label>
    <select name="genreId" id="search-genre-id">
      <% let genreSelected = false; %>
      <option
        value=""
        <% if (rawQuery.genreId === undefined) {
          genreSelected = true;
        %>
          selected
        <% } %>
      >Any</option>
      <% genres.forEach(genre => { %>
        <option
          value="<%= genre.id %>"
          <% if (genre.id == rawQuery.genreId) {
            genreSelected = true;
          %>
            selected
          <% } %>
        ><%= genre.name %></option>
      <% }); %>
      <% if (!genreSelected) { %>
        <option value="<%= rawQuery.genreId %>" selected hidden>
          Genre does not exist
        </option>
      <% } %>
    </select>
    <label for="search-artist-id">Search by artist</label>
    <select name="artistId" id="search-artist-id">
      <% let artistSelected = false; %>
      <option
        value=""
        <% if (rawQuery.artistId === undefined) {
          artistSelected = true;
        %>
          selected
        <% } %>
      >Any</option>
      <% artists.forEach(artist => { %>
        <option
          value="<%= artist.id %>"
          <% if (artist.id == rawQuery.artistId) {
            artistSelected = true;
          %>
            selected
          <% } %>
        ><%= artist.name %></option>
      <% }); %>
      <% if (!artistSelected) { %>
        <option value="<%= rawQuery.artistId %>" selected hidden>
          Artist does not exist
        </option>
      <% } %>
    </select>
    <button type="submit">Search records</button>
  </form>
  <% if (records.length > 0) { %>
    <table class="records-table">
      <thead>
        <tr class="table-header-row">
          <th scope="col" class="record-name">Record</th>
          <th scope="col" class="record-artist">Artist</th>
          <th scope="col" class="record-price">Price</th>
          <th scope="col" class="record-quantity">Quantity</th>
          <th scope="col" class="record-actions" aria-label="Actions"></th>
        </tr>
      </thead>
      <tbody>
        <% records.forEach(record => { %>
          <tr>
            <th scope="row" class="record-name"><%= record.name %></th>
            <td class="record-artist">
              <a href="<%= getArtistPath(record.artist) %>">
                <%= record.artist.name %>
              </a>
            </td>
            <td class="record-price"><%= formatPrice(record.price) %></td>
            <td class="record-quantity"><%= record.quantity %></td>
            <td class="record-actions">
              <div class="action-buttons">
                <button
                  type="button"
                  data-action="start-update"
                  data-resource-id="<%= record.id %>"
                  data-resource-name="<%= record.name %>"
                  class="update-button"
                >Edit</button>
                <button
                  data-action="start-delete"
                  data-resource-id="<%= record.id %>"
                  data-resource-name="<%= record.name %>"
                  class="delete-button"
                >Delete</button>
              </div>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <p>No records found</p>
  <% } %>
</main>

<%- include('../partials/layout-end') %>
