<% if (artists.length > 0) { %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="artist-name">Artist</th>
        <th scope="col" class="artist-genres">Genres</th>
        <th scope="col" class="artist-records">Records</th>
        <th scope="col" aria-label="Actions"></th>
      </tr>
    </thead>
    <tbody>
      <% artists.forEach(artist => { %>
        <tr>
          <th
            scope="row"
            class="artist-name"
            title="<%= artist.name %>"
          ><%= artist.name %></th>
          <td class="artist-genres">
            <ul>
              <% artist.genres.forEach(genre => { %>
                <li title="<%= genre.name %>"><%= genre.name %></li>
              <% }); %>
            </ul>
          </td>
          <td class="artist-records">
            <ul class="artist-records-list">
              <% artist.records.forEach(record => { %>
                <li
                  class="artist-record"
                  title="<%= record.name %>"
                ><%= record.name %></li>
              <% }); %>
            </ul>
          </td>
          <td>
            <div class="action-buttons">
              <button
                type="button"
                data-action="start-update"
                data-resource-id="<%= artist.id %>"
                data-resource-name="<%= artist.name %>"
                <%
                  const genreIdsList = artist.genres
                    .map(genre => genre.id).join(', ');
                %>
                data-resource-genre-ids="<%= genreIdsList %>"
                class="update-button"
              >Edit</button>
              <button
                data-action="start-delete"
                data-resource-id="<%= artist.id %>"
                data-resource-name="<%= artist.name %>"
                class="delete-button"
              >Delete</button>
            </div>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <p class="none-found-message">No artists found</p>
<% } %>
