<form
  name="search"
  action="<%= getArtistPath() %>"
  method="get"
  class="search-form"
>
  <h2 class="search-form-heading">Search artists</h2>

  <label for="search-genre-id">Genre</label>
  <select name="genreId" id="search-genre-id">
    <% let genreSelected = false; %>
    <option
      value=""
      <% if (!rawQuery.genreId) {
        genreSelected = true;
      %>
        selected
      <% } %>
    >Any</option>
    <% genres.forEach(genre => { %>
      <option
        value="<%= genre.id %>"
        <% if (genre.id == rawQuery.genreId) {
          genreSelected = true;
        %>
          selected
        <% } %>
      ><%= genre.name %></option>
    <% }); %>
    <% if (!genreSelected) { %>
      <option value="<%= rawQuery.genreId %>" selected hidden>
        Genre does not exist
      </option>
    <% } %>
  </select>

  <label for="search-artist-name">Name</label>
  <input
    type="search"
    name="name"
    id="search-artist-name"
    value="<%= rawQuery.name %>"
  />

  <label for="search-record-name">Record</label>
  <input
    type="search"
    name="recordName"
    id="search-record-name"
    value="<%= rawQuery.recordName %>"
  />

  <div class="search-form-actions">
    <a
      href="<%= getArtistsPath() %>"
      data-action="clear-form"
      class="search-reset-button button"
    >Reset</a>
  <button type="submit" class="search-submit-button">Search artists</button>
  </div>
</form>
